<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8" />
        <title>Musa's Polls</title>
    </head>
    <body>
        <ul>
            <li><p><a href="/polls">A Polls Application</a></p></li>
            <li><p><a href="/location">Locations of Apartments</a></p></li>
            <li><p><a href="/hello">Test the session</a></p></li>
            <li><p><a href="/autos">Autos CRUD</a></p></li>
            <li><p><a href="/cats">Cats CRUD</a></p></li>
        </ul>
    </body>
</html>